.bug-container {
    background-image: url(./bug.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    width: 50px;
    height: 50vh;
    position: absolute;
    top: 0px;
    left: 33%
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bug-container {
        left: 5%
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .bug-container {
        left: 5%
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bug-container {
        left: 25%
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bug-container {
        left: 33%
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1441px) {
    .bug-container {
        left: 40%
    }
}